<html>
    <body>
        <h1>Kati illóolajos könyve</h1>
Ez a nézegetős rész.
        <h3><a href="/receptek">Receptek</a></h3>
        <h3><a href="/olajok">Összetevők</a></h3>
        <h3><a href="/arak">Terméklisták és árak</a></h3>
        <h1> Admin oldal linkek </h1>
        Ez az adatfelvivős rész
        <h3><a href="recept_admin/">Összetevők és receptek adatai</a>(ez a te tudásod helye)</h3>
        <h3><a href="/beszerzes_admin/">Alapanyag forgalmazó cégek és termékek adatai</a>(ritkán változik)</h3>
        <h3><a href="tudas_admin/">Kémiai tulajdonságok, hatások, terápiás javaslatok adatai</a>(sosem változik, egyszer kell felvinni)</h3>

    </body>
</html>
